embed {
	width: 100%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #05164c;
}

.grid-item {
	margin-top: 20px ;
	margin-bottom: 20px;
	margin: 4px;
}

.contactimg {
	width: 8%;
	margin-right: 5%;
}

.tekst {
	flex: 3;
	color: #05164c;
}

a {
	text-decoration: none;
}


@media screen and (min-width: 700px){
	main {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.contact{
		width: 55%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.contactimg {
		width: 6%;
	}
	
}

@media screen and (min-width: 1200px) {	
	main {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.contact{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.contactimg {
		width: 8%;
	}
	
	
}

@media screen and (max-width: 800px) {	
	embed {
		display: none;
	}
	
	footer {
		margin-top:550px;
	}
}



