.mySlides{
	width: 100%;
	border-radius: 15px;
}


ul {
    list-style-image: url('images/resultaat.png');
    list-style-position: outside;
	padding-left: 10px;
}

a {
	color: #004DF5;
	text-decoration: none;
}


	
@media screen and (min-width: 1200px) {

	.slider {
		padding: 8% 0% 0% 0%;
	}
	
	.flexcontainer {
		display: flex;
	}
	
	.flex-item {
		flex: 1;
	}
	
	.tekst2 {
		padding-left: 4%;
	}

}



