main {
	padding-top: 20%;
}

.boven2{
	display: grid;
	grid-template-columns: 2fr 6fr 2fr;
	width: 100%;
	align-items: center;
}

.boven3{
	display: grid;
	grid-template-columns: 0.5fr 1fr 250px 1fr 0.5fr;
	width: 100%;
	align-items: center;
}

.playbutton {
	height: 15px;
	width: 14px;
	float: left;
	margin-top:3px;
	margin-right: 7px;
	background-image: url(../images/play_blauw.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.playbutton:hover {
	background-image: url(../images/play_donkerblauw.png);
}


.buttonimg {
	width: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40%;
}

button {
	background-color: #004df5;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
	display:flex;
	font-weight: bold;
	padding: 10px;
}

button:hover {
	background-color: #05164c;
}

.buttonimg2 {
	flex: 1;
	width: 10px;
	margin-left: 6px;
	margin-right: 6px;
}

.flex2 {
	flex: 7;
}

h2 {
	flex: 5;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	font-size: 22px;
	padding-top: 0px;
}

a {
	text-decoration: none;
	color: white;
}

.link {
	color: #004df5;
	font-style: bold;
}

.grid-item {
	border-radius: 15px ;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;

	
}

video {
	padding: 0;
	width: 100%;
}

.verbetervoorstel {
	width: 100%;
	border-radius: 15px;
}

.verbetervoorstel2 {
	width: 100%;
	border-radius: 15px;
	}

.live {
	color: #004DF5;
	font-size: 16px;
	text-align: left;
}

.live:hover {
	color: #05164c;
}

.opmerking {
	color: #aeb0bc;
}
/*
.draai {
	 -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
	*/


.draai {
	animation-timing-function: linear;
	position: relative;
	animation: mymove 2s infinite;
}


@keyframes mymove {
  from {left: -10%;}
  to {left: 10%;}
}
	

@media screen and (min-width: 700px){
	main {
		padding-top: 12%; 
	}
	
	h2 {
		font-size: 30px;
	}
	
	.buttonimg {
		width: 20%;
	}
	
	.buttonimg2 {
		width: 12%;
	}
		
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	.grid-item {
		padding: 10px;
	}
	
	.verbetervoorstel2 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	main {
		padding-top: 6%; 
	}
	
	h2 {
	font-size: 40px;
	}
	
	.boven3{
		display: grid;
		grid-template-columns: 3fr 1fr 6fr 1fr 3fr;
		width: 100%;
		align-items: center;
	}
	
	.boven2{
		display: grid;
		grid-template-columns: 1fr 6fr 1fr;
		width: 100%;
		align-items: center;
	}

	.buttonimg {
		width: 20%;
	}
	
	.buttonimg2 {
		width: 10px;
	}
	
	
	
}


